[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
search = "uvicorn python.search_file:app --port $PYTHON_SEARCH_SERVER_PORT --reload"
extract = "python ./python/extract.py"

[packages]
python-dotenv = "*"
uvicorn = "*"
starlette = "*"
fitz = "*"
pymupdf = "*"
nltk = "*"

[dev-packages]
sentence-transformers = "*"
nltk = "*"
flask = "*"
python-dotenv = "*"
waitress = "*"
uvicorn = "*"
starlette = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
