@import 'normalize.css';
@import '@blueprintjs/core/lib/css/blueprint.css';
@import '@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '@blueprintjs/popover2/lib/css/blueprint-popover2.css';
@import '@blueprintjs/core/lib/scss/variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body,
#__next {
  background-color: $pt-dark-app-background-color;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.favicon {
  path {
    fill: #000;
  }
  @media (prefers-color-scheme: dark) {
    path {
      fill: #fff;
    }
  }
}

.blinking {
  animation: blinker 0.7s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.rotating-dots {
  background-image: url('/drawing.svg'), url('/nnnoise.svg');
  background-size: 700px;
  @screen md {
    background-size: 1200px;
  }
  background-repeat: no-repeat, repeat;
  background-position-x: center;
}

.bp4-portal .bp4-dialog-container {
  @apply h-full sm:h-auto w-full;
}

.bp4-portal .bp4-dialog {
  @apply h-full sm:h-auto w-full sm:w-auto;
}

.bp4-input[type='search'] {
  @apply rounded-none;
}
